/* 모든 요소에 css 효과 지정 */
*{ 
    box-sizing: border-box; /* 테두리를 기준으로 박스의 크기 조정 */
    margin: 0;              
    padding: 0;
}

/* 웹 페이지 다크 모드 효과 적용 */
body {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

/* 모든 a 태그의 밑줄 효과 제거 */
a{
    text-decoration: none;
    color: #fff;
    transition: .1s;   
}

.main-info{
    margin: 1.5rem auto 3rem;
    width: 90%;
}

.header{
    position: fixed; /* 위치 고정(스크롤의 영향을 받지 않음) */
    top: 0;
    left: 0;
    width: 100%;
    height: 5.5rem;
    padding: 1.5rem 0px;
    backdrop-filter: blur(50px);  /* 반투명 효과 적용 */
    display: flex;                /* flex item들을 가로 방향으로 배치 (item은 자신의 width만큼 공간 차지)*/
    justify-content: center;      /* 수평 방향으로 가운데 정렬 */
    align-items: center;          /* 수직 방향으로 가운데 정렬  */  
    /* 화면에 표시될 우선 순위를 지정하는 것으로, header 영역의 요소들이 다른 요소 보다 우선적으로 표시됨*/
    z-index: 100;  
}

.logo{
    position: absolute;     /* 부모인 body를 기준으로 위치 이동 */
    left: 3%;
}

.logo img{
    width: 120px;
}

.navbar a{
    font-size: 1.15rem;
    font-weight: 500;
    margin-left: 2.5rem;    /* a 태그 간격 조절 */
}

.navbar a:hover{
    font-weight: 800;
}

#check{
    display: none;
}        

.heder-icons{
    position: absolute;
    right: 10px;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;           /* 미디어 쿼리 조건을 만족할 경우 화면에 노출 되도록 설정함*/
}

.plave-container {
    position: relative;      /* 자신의 원래 위치(static일 때의 위치)를 기준으로 이동 */
    margin-bottom: 7.5rem;
    left: 3%;
    width: 95%;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 800;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 1rem;
}

.member { 
    display: flex;                 /* item 정렬 */
}

.item{ 
    display: flex;                 /* item 내부 요소들 가운데 정렬 */
    justify-content: center; 
    position: relative;                
    clip-path: inset(0 0 10% 0);   
     /* 요소의 일부분을 자름(하단 10%)
       이미지에 커서를 올렸을 때 사이즈 변화 없이 
       확대 효과만 주기 위해 부모 요소에 clip-path 속성 사용함
    */       
}

.item img{
    width: 100%;                 /* 부모인 item 너비에 꽉 차도록 설정*/
    filter: brightness(90%);     /* 이미지 밝기를 어둡게 조절 */
    transition: .3s;
}

.item .member-name{
    /* 블록 요소가 absolute 값을 가지면 내용(content)의 크기에 따라 요소의 크기가 결정 */
    position: absolute;         
    bottom: 3rem;
    font-size: 23.5px;
    font-weight: bold;
    letter-spacing: 10px;        /* 글자 사이의 간격 조절 */
}

.item .birth{ 
    position: absolute;
    font-weight: 600;
    top: 6rem;
    display: none;            
}

.item .info{
    position: absolute;
    width: 60%;
    top: 8rem;
    display: none;
}

/* 사용자가 이미지 위에 커서를 올렸을 때 적용 */
.item:hover img{ 
    transform: scale(1.1);       /* 이미지의 크기를 1.1배 확대*/
    opacity: 0.3;                /* 이미지에 불투명도 적용 (0으로 갈수록 투명해짐) */
    cursor: pointer;
}

.item:hover .member-name{
    display: none;
}

/* 커서를 올리기 전엔 보이지 않다가 올릴 때 나타남 */
.item:hover .birth,.item:hover .info{
    display: block;
}

.channel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;     /* 2행 4열(각 열의 너비는 동일) */
    margin: 3% 0px;
}

.channel a{
    position: relative;                        /* 자식 요소인 i 태그 위치 조정을 위해 설정*/
    font-size: 16.5px;    
    margin-bottom: 25px;
    font-weight: 600;

}

.channel a:hover{
    font-weight: bold;
}

.channel i{
    position: absolute;
    top: 4.5px;
    transform: translate(30%);                 /* 해당 요소를(부모 영향 X) x축으로 30% 이동 */
    font-size: 15px;
}

.ifr-container{
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: 56.25%;                   /* 웹 페이지 사이즈가 변해도 16:9 비율 유지*/
    margin: 0px auto 5.5rem;                         /* 가운데 정렬 */
}

.ifr-container iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

.official_wrraper{
    margin: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(110%);
}

.official_wrraper i{
    padding-right: 5px;
    color: cornflowerblue;
}

/* 
   웹 페이지의 너비가 900px 이하인 경우에 적용되는 스타일을 정의
   미디어 쿼리를 사용하여 반응형 디자인 구현
*/
@media(max-width: 900px){
    .header{
        background: rgb(0, 0, 0);
        padding: 0;
        height: 4rem;
    }

    .heder-icons{
        display: flex;                   /* icons 자식 요소 정렬 */
    }

    .heder-icons #close-icon{
        display: none;
    }

    /* 해당 id 값을 가진 체크박스가 표시될 때
    그 뒤에 나오는 incons 클래스의 자식인 #menu-icon을 숨김
    */
    #check:checked~.heder-icons #menu-icon{    
        display: none;
    }

     /* 해당 id 값을 가진 체크박스가 표시될 때
     그 뒤에 나오는 incons 클래스의 자식인 #close-icon이 화면에 나타남
     */
    #check:checked~.heder-icons #close-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;                     /* 부모 요소(header)의 아래쪽 끝에 배치 */
        left: 0;
        width: 100%;           
        height: 0;                    
        background: rgb(0,0,0);
        transition: .3s ease;          
        overflow: hidden;             /* 높이가 변화는 과정에서 navbar가 보이는 것을 방지*/
    } 

     /* 해당 id 값을 가진 체크박스가 표시될 때
     그 뒤에 나오는 .navbar가 화면에 꽉 차도록 설정
     */
    #check:checked~ .navbar{
        height: 100vh;
    }

    .navbar a{
        display: block;              /* a 태그 줄바꿈 */
        font-size: 1.2rem;
        margin: 2rem 0;              /* a 태그 위아래 간격 조절 */
        text-align: center;          /* 가운데 정렬 */
        opacity: 0;                  /* 투명 상태 */
        transition: .5s ease;
    }
    
    /* a 태그가 위에서 아래로 차례대로 내려오는 효과 구현*/
    #check:checked~ .navbar a{
        transform: translateY(500%);
        opacity: 1;                  
        transition-delay: calc(.1s * var(--i));   /* 각 요소의 전환 효과 타이밍 조정 */
    }
    

    .member{
        flex-wrap: wrap;       /* 줄바꿈 적용 */
    }

    /* 멤버 이름 재배치 */
    .item .member-name{
        font-size: 25px;
        bottom: 8.5rem;
    }

    /* hover 효과 없애고 멤버 이름만 표시되도록 설정*/
    .item:hover img{
        transform: none;
        opacity: 1; 
        cursor: auto;
    }
    
    .item:hover .birth,.item:hover .info{
        display: none;
    }

    .item:hover .member-name{
        display: block;
    }
}