*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-name {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.album-main-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 7.5rem 0 1.5rem 0;
    padding: 3%;
}

.album-img{
   width: 650px;
   height: 700px;
   margin-left: 30px;
}

.album-img img{
    width: 100%;
    height: auto;
}

.album-inner-container{
    margin-left: 40px;
}

.album-name{
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 1.3px;
}

.album-artist{
    font-size: 20px;
    font-weight: 600;
    color: #CC3366;
    margin-bottom: 8.5rem;
}

.info-header{
    width: 90%;
    border-bottom: 1px solid #808080;
    padding-bottom: 7.5px;
    margin-bottom: 10px;
}

.album-content{
    display: flex;
}

.album-content p{
    margin-bottom: 10px;
}
    
.album-info{
    font-weight: bold;
    margin-right: 4.5rem;
}

.album-details{
    color:#808080;
}

.track-list-container{
    padding: 0 3%;
    margin: 0 1.5rem 5rem 1.5rem;
    overflow: hidden;
}

.track-list-container header{
    margin: 0;
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #808080;
    padding-bottom: 1.5rem;
}

.song-name, .song-title{
    position: relative;
    padding: 1rem 0;
    cursor: pointer;
}

.song-name i, .song-title i{
    position: absolute;
    right: 10px;
    font-size: 30px;
    transform: translateY(-15%);
}

.song-title::after{
    content: 'TITLE';
    color: #CC3366;
    font-size: 12px;
    font-weight: 600;
}

.song-name:hover, 
.song-title:hover{
    font-weight: bold;
}

#up-icon{
    display: none;
}

/*
height 값을 0 -> auto로 지정할 시 transition 효과가 사라짐
max-height을 이용해서 슬라이드 구현
*/
.track-list-container section{
    border-bottom: 1px solid #808080;
    overflow: hidden;

}

.lyrics-container{
     max-height: 0;
     opacity: 0;
     transition: max-height .5s ease, opacity .5s ease;
     visibility: hidden;
}

.lyrics {
    font-size: 15px;
    border-top: 1px solid #808080;
    padding: 2.5rem;
    line-height: 1.7;
}

.lyrics-container-visible {
    max-height: 3000px;
    opacity: 1;
    transition: max-height .5s ease, opacity .5s ease;
    visibility: visible;
}

@media(max-width: 900px){
    .album-main-container{
        display: block;
    }
    
    .album-img{
        height: 100%;
        width: 100%;
        margin: 30px 0;
     }

     .album-inner-container{
        margin-left: 0;
    }
    
    .track-list-container{
        margin-left: 0;
        overflow: hidden;
    }
}
